ENV_SETTING={{ settings_file }}
DEBUG={{ env_debug }}
SECRET_KEY=lrhk6xwm=$dr@38x2z-pag^nesh_c9s$#1wa6eox5g8r&j@or3

DB_NAME={{ db_name }}
DB_USER={{ db_user }}
DB_PASSWORD={{ db_password }}
DB_HOST={{ db_host }}



